.vegan-app.mat-list .mat-list-item-content {
  display: flex;
  justify-content: space-between;
}
.vegan-app.mat-list .mat-list-item {
  height: auto;
  min-height: 48px;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
